<ion-header>
  <ion-toolbar>
    <ion-title>
      Abac - Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <ion-item>
    <ion-label class="value">
    {{value}}
    </ion-label>
  </ion-item> 
  <div *ngFor="let numGroup of numberGroups">
      <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button>
  </div>
</ion-content>
